/* Global Styles */
body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Container for All Content */
.container {
    max-width: 1100px;  /* Set max-width to limit content width */
    margin: 0 auto;  /* Center the container */
    padding: 0 100px; /* Add padding to left and right */
}

/* Header Styles */
header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 100px;  /* Add padding to left and right */
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    font-family: 'PT Sans', sans-serif;
    color: #000000;
    text-decoration: none;
}

a {
    color: #000000;
}

/* Main Content Styles */
main {
    max-width: 900px;
    line-height: 1.6;
    margin: 0 auto;
    padding: 20px 100px; /* Add padding to left and right */
    text-align: justify;
}

/* Content Container (if using additional container for main content) */
.content-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 100px; /* Add padding to left and right */
    text-align: justify;
}

/* Footer Styles */
footer {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    padding: 20px 100px; /* Add padding to left and right */
    text-align: left;
}

/* Responsive Adjustment */
@media (max-width: 768px) {
    .container {
        padding: 0 20px;  /* Adjust padding for smaller screens */
    }

    .header-container,
    main,
    .content-container {
        padding: 0 20px;  /* Adjust padding for smaller screens */
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 10px;  /* Adjust padding for mobile screens */
    }

    .header-container,
    main,
    .content-container {
        padding: 0 10px;  /* Adjust padding for mobile screens */
    }
}
