<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ "/assets/images/favicon.svg" | relative_url }}" type="image/svg+xml">
</head>
<body>
    <header>
        <div class="header-container">
            <h2><a href="{{ site.baseurl }}">{{ site.title }}</a></h2>
            <nav>
                <ul>
                    <li><a href="{{ site.baseurl }}/about">About me</a></li>
                    <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
                    <li><a href="{{ site.baseurl }}/blog">Blogs</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="content-container">
        <h1>{{ page.title }}</h1>
        {% if page.date %}
            <p><small>{{ page.date | date: "%B %d, %Y" }}</small></p>
        {% endif %}
        {{ content }}
    </main>

    <footer>
        <p>Portfolio of Gernot Nikolaus, © Copyright 2024 Gernot Nikolaus. All rights reserved.<br><br></p>
        <p>Department of Geoinformatics – Z_GIS<br>
            Schillerstraße 30<br>
            5020 Salzburg<br>
            Austria</p>
    </footer>
    
    <!-- Fullscreen Modal -->
    <div id="imageModal" style="display:none;">
        <span onclick="closeModal()" style="cursor:pointer;">&times;</span>
        <img id="modalImage" style="display:block; margin:auto; max-width:80%;">
        <div id="modalDescription" style="color:#fff; text-align:center; margin-top:20px;"></div>
    </div>

    <script>
        function openModal(src, desc) {
            var modal = document.getElementById("imageModal");
            var modalImg = document.getElementById("modalImage");
            var modalDesc = document.getElementById("modalDescription");
            modal.style.display = "block";
            modalImg.src = src;
            modalDesc.textContent = desc || "No description available.";
        }
        
        function closeModal() {
            var modal = document.getElementById("imageModal");
            modal.style.display = "none";
        }
    </script>
</body>
</html>
