<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">
            <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1>
            <nav>
                <ul>
                    <li><a href="{{ site.baseurl }}/about">About Me</a></li>
                    <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
                    <li><a href="{{ site.baseurl }}/blog">Blogs</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="content-container">
        {{ content }}
    </main>

    <footer>
        <p>&copy; 2024 [Your Name]. All rights reserved.</p>
    </footer>
</body>
</html>
